<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1 >Фильтр</h1>
    <div th:if="${showFilter}">
        <form th:action="@{products/filter}"
                th:object="${filter}" method="post" class="form-horizontal" style="margin-top: 10px">
            <label th:text="Поиск"></label><br/>
            <div style="margin-bottom: 25px" class="input-group">

                <input th:field="*{pattern}" name="value" placeholder="title (*)" class="form-control" >
            </div><label th:text="${'Максимальное значение'}"></label>
            <div style="margin-bottom: 25px" class="input-group">

                <input th:field="*{max}" name="max" placeholder="max value" class="form-control" >
            </div><label th:text="${'Минимальное значение'}"></label>
            <div style="margin-bottom: 25px" class="input-group">

                <input th:field="*{min}" name="min" placeholder="min value" class="form-control" >
            </div>
            <div style="margin-top: 10px" class="form-group">
                <button type="submit" class="btn btn-primary">Фильтр</button>
            </div>
        </form>
    </div>
    <a th:href="@{products/filter}" th:text="Отфильтровать"></a>
    <h1>Данные</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <div th:if="${!isRedact.contains(product.id)}">
            <td th:text="${product.id}"/>
            <td th:text="${product.title}"/>
            <td th:text="${product.price}"/>
            <td>
                <a th:href="@{'/products/show/' + ${product.id}}" th:text="Просмотреть"/>
                <a th:href="@{'/products/drop/' + ${product.id}}" th:text="Удалить"></a>
                <a th:href="@{'/products/edit/' + ${product.id}}" th:text="Изменить"></a>
            </td>
            </div>
            <div th:if="${isRedact.contains(product.id)}">
                <td colspan="4">
                    <form th:action="@{/products/edit}"
                    th:object="${product}" method="post">
                        <input type="text" th:value="${product.id}" name="id" pattern="\d*" readonly required />
                        <input th:value="${product.title}" placeholder="title (*)" name="title" required/>
                        <input th:value="${product.price}" pattern="\d*" name="price" required/>
                        <button type="submit">Отправить</button>
                    </form>
                </td>
            </div>
        </tr>
        </tbody>
    </table>
    <h1 >Добавить строку</h1>
    <span th:text="${'Всего товаров ' + products.size()}"/>
    <br>
    <form th:action="@{/products/add}"
          th:object="${product}" method="post" class="form-horizontal">

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{id}" placeholder="id" class="form-control" pattern="\d*" required/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{title}" placeholder="title (*)" class="form-control" required/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{price}" placeholder="price" class="form-control" pattern="\d*" required/>
        </div>

        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
        <label th:text="${addMess.value}"></label>
    </form>
</div>

</body>
</html>